* {
    font-family: 'Roboto', 'Arial';
    font-weight: bold;
}

html, body {
    height: 100%;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column
}

.container-fluid {
    flex: 1 0 auto;
}

.header {
    color: azure;
    background-color: navy;
    text-align: center;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding: 30px 15px;
    margin: 0;
}

aside {
    background-color: slategray;
    height: auto;
}

#city {
    height: 50px;
    font-size: 20px;
}

.day {
    background-color: lightskyblue;
}
