* {
    font-family: 'Roboto', 'Arial';
    font-weight: bold;
}

body {
    background-color: azure;
}

.header {
    color: azure;
    background-color: navy;
    text-align: center;
    padding: 10px;
}
